<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        
        <!-- Basic Page Needs
         ================================================== -->
        <meta charset="utf-8">
            <title>Apartment Finder</title>
            <meta name="description" content="">
                <meta name="author" content="">
                    
                    <!-- Mobile Specific Metas
                     ================================================== -->
                    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                        
                        <!-- CSS
                         ================================================== -->
                        <link rel="stylesheet" href="stylesheets/base.css">
                            <link rel="stylesheet" href="stylesheets/skeleton.css">
                                <link rel="stylesheet" href="stylesheets/layout.css">
                                    <link rel="stylesheet" href="stylesheets/slider.css">
                                        
                                        <!--[if lt IE 9]>
                                         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                                         <![endif]-->
                                        
                                        <!-- Favicons
                                         ================================================== -->
                                        <link rel="shortcut icon" href="images/favicon.ico">
                                            <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
                                                <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
                                                    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
                                                        
                                                        </head>
    <body>
        
        
        
        <!-- Primary Page Layout
         ================================================== -->
        
        <!-- Delete everything in this .container and get started on your own site! -->
        
        <div class="container">
            <div class="sixteen columns">
                <h1 ="remove-bottom" style="margin-top: 40px">New York City Apartment Finder</h1>
                <h5>Megan Baker, Najla Elmachtoub, Michael Mazzola</h5>
                <hr />
            </div>
                        
            {% if 'title' in listing %}
            <div class="sixteen columns">
                <h3>{{ listing['title'] }}</h3>
            </div>
            {% end %}
            
            
            <div class="sixteen columns">
                <div class="seven columns alpha">
                    {% if 'pic' in listing %}
                    <center><img src="{{ listing['pic'] }}" height="250"></center>
                    {% end %}
                </div>
                <div class="nine columns omega">
                    
                    {% if 'bedrooms' in listing %}
                    <h5>Number of bedrooms: {{ listing['bedrooms'] }}</h5>
                    {% end %}
                    
                    {% if 'bathrooms' in listing %}
                    <h5>Number of bathrooms: {{ listing['bathrooms'] }}</h5>
                    {% end %}
                    
                    {% if 'price' in listing %}
                    <h5>Price: {{ listing['price'] }}</h5>
                    {% end %}
                    
                    {% if 'url' in listing %}
                    <h5>Original Post: <a href="{{ listing['url'] }}">{{ listing['url'] }}</a></h5>
                    {% end %}
                    
                    {% if 'description' in listing %}
                    <h5>Description:</h5>
                    <p>{{ listing['description'] }}</p>
                    {% end %}  
                    
                </div>
            </div>

            <div class="sixteen columns">
                <h3>Scores</h3>
                    
                {% if 'foodscore' in listing %}
                <h5>Food score: {{ listing['foodscore'] }}</h5>
                {% end %}
                
                {% if 'shoppingscore' in listing %}
                <h5>Shopping score: {{ listing['shoppingscore'] }}</h5>
                {% end %}
                
                {% if 'activescore' in listing %}
                <h5>Active Life score: {{ listing['activescore'] }}</h5>
                {% end %}
                
                {% if 'restuarantscore' in listing %}
                <h5>Restuarants score: {{ listing['restaurantscore'] }}</h5>
                {% end %}
                
                {% if 'beautyscore' in listing %}
                <h5>Beauty &amp; Spas score: {{ listing['beautyscore'] }}</h5>
                {% end %}
                
                {% if 'nightlifescore' in listing %}
                <h5>Nightlife score: {{ listing['nightlifescore'] }}</h5>
                {% end %}
                
                {% if 'educationscore' in listing %}
                <h5>Education score: {{ listing['educationscore'] }}</h5>
                {% end %}
                
                {% if 'artsscore' in listing %}
                <h5>Arts &amp; Entertainment score: {{ listing['artsscore'] }}</h5>
                {% end %}
                
            </div>
            
        </div><!-- container -->
        
        
        <!-- End Document
         ================================================== -->
    </body>
</html>