<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        
        <!-- Basic Page Needs
         ================================================== -->
        <meta charset="utf-8">
            <title>Apartment Finder</title>
            <meta name="description" content="">
                <meta name="author" content="">
                    
                    <!-- Mobile Specific Metas
                     ================================================== -->
                    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                        
                        <!-- CSS
                         ================================================== -->
						<link rel="stylesheet" href="{{static_url('stylesheets/base.css')}}"/>
							<link rel="stylesheet" href="{{static_url('stylesheets/skeleton.css')}}"/>
								<link rel="stylesheet" href="{{static_url('stylesheets/layout.css')}}">
   									 <link rel="stylesheet" href="{{static_url('stylesheets/slider.css')}}">  
                                        
                                        <!--[if lt IE 9]>
                                         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                                         <![endif]-->
                                        
                                        <!-- Favicons  
                                         ================================================== -->
                                       <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}">
											<link rel="apple-touch-icon" href="{{static_url('images/apple-touch-icon.png')}}">
												<link rel="apple-touch-icon" sizes="72x72" href="{{static_url('images/apple-touch-icon-72x72.png')}}">
													<link rel="apple-touch-icon" sizes="114x114" href="{{static_url('images/apple-touch-icon-114x114.png')}}">
											            </head>
    <body>
        
        
        
        <!-- Primary Page Layout
         ================================================== -->
        
        
        
        <div class="container">
            <div class="sixteen columns">
                <h1 ="remove-bottom" style="margin-top: 40px">New York City Apartment Finder</h1>
                <h5>Megan Baker, Najla Elmachtoub, Michael Mazzola</h5>
                <hr />
            </div>
            
            
            <div itemscope itemtype="http://schema.org/Residence">
            {% if 'title' in listing %}
            <div class="sixteen columns">
                <h3 itemprop="name">{{ listing['title'] }}</h3>
            </div>
            {% end %}
            
            
            <div class="sixteen columns">
                <div class="seven columns alpha">
                    {% if 'pic' in listing %}
                    <center><img src="{{ listing['pic'] }}" height="250" itemprop="image"></center>
                    {% end %}
                </div>
                <div class="nine columns omega">
                    
                    {% if 'bedrooms' in listing %}
                    <h5>Number of bedrooms: {{ listing['bedrooms'] }}</h5>
                    {% end %}
                    
                    {% if 'bathrooms' in listing %}
                    <h5>Number of bathrooms: {{ listing['bathrooms'] }}</h5>
                    {% end %}
                    
                    {% if 'price' in listing %}
                    <h5>Price: {{ listing['price'] }}</h5>
                    {% end %}
                    
                    {% if 'id' in listing %}
                    <h5>More information: <a href="{{"localhost:8888/apartment/" + listing['id'] }}">localhost:8888/apartment/{{ listing['id'] }}</a></h5>
                    {% end %}
                    
                    {% if 'url' in listing %}
                    <h5>Original Post: <a href="{{ listing['url'] }}" itemprop="url">{{ listing['url'] }}</a></h5>
                    {% end %}
                    
                    {% if 'description' in listing %}
                    <h5>Description:</h5>
                    <p itemprop="description">{{ listing['description'] }}</p>
                    {% end %}  
                    
                    {% if 'location' in listing %}
                    <h5 itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">Location: {{ listing['location']['lat'], listing['location']['lng']}}<meta itemprop="latitude" content="{{listing['location']['lat']}}"><meta itemprop="longitude" content="{{listing['location']['lng']}}"></h5>
                    {% end %}
                    
                    
                </div>
            </div>
            
                
            <div class="sixteen columns">
                <h3>Scores</h3>
                    
                    
                <h5>Food score: {{ round(scores[0]) }}</h5>
                
                <h5>Shopping score: {{ round(scores[1]) }}</h5>
                
                <h5>Active Life score: {{ round(scores[2]) }}</h5>
                
                <h5>Restaurants score: {{ round(scores[3]) }}</h5>
                
                <h5>Beauty &amp; Spas score: {{ round(scores[4]) }}</h5>
                
                <h5>Nightlife score: {{ round(scores[5]) }}</h5>
                
                <h5>Education score: {{ round(scores[6]) }}</h5>
                
                <h5>Arts &amp; Entertainment score: {{ round(scores[7]) }}</h5>
                
            </div>
            
            
        </div><!-- container -->
        
        
        <!-- End Document
         ================================================== -->
    </body>
</html>
