<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Apartment Finder</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{static_url('stylesheets/base.css')}}"/>
	<link rel="stylesheet" href="{{static_url('stylesheets/skeleton.css')}}"/>
	<link rel="stylesheet" href="{{static_url('stylesheets/layout.css')}}">
    <link rel="stylesheet" href="{{static_url('stylesheets/slider.css')}}">    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}">
	<link rel="apple-touch-icon" href="{{static_url('images/apple-touch-icon.png')}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{static_url('images/apple-touch-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{static_url('images/apple-touch-icon-114x114.png')}}">

  <!-- Javascript
  ================================================= -->
  <script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script>
    function getResults() {
      var url = "results?";
      var sliders = $(".bar");
      var food_value = sliders[0].value;
      var shopping_value = sliders[1].value;
      var nightlife_value = sliders[2].value;
      var active_value = sliders[3].value;
      var education_value = sliders[4].value;
      var restaurants_value = sliders[5].value;
      var arts_value = sliders[6].value;
      var beauty_value = sliders[7].value;
      url = url + "food=" + food_value + "&shopping=" + shopping_value + "&nightlife=" + nightlife_value + "&active=" + active_value + "&education=" + education_value + "&restaurants=" + restaurants_value + "&arts=" + arts_value + "&beauty=" + beauty_value;
      window.location = url;
    }
  </script>

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div class="sixteen columns">
			<h1 ="remove-bottom" style="margin-top: 40px">New York City Apartment Finder</h1>
			<h5>Megan Baker, Najla Elmachtoub, Michael Mazzola</h5>
			<hr />
		</div>
        <div class="eleven columns">
            <h2>What's important to you?</h2>
        </div>
        <div class="five columns">
          <center><button onclick="getResults()"><font size="4">Find an apartment</font></button></center>
        </div>
            
		<div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/shopping_cart.jpg')}}"/></center>
                <h4><center>Food</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput0" value="50" onchange="rangevalue0.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue0">50</output>
                </div></center>
            </div>
		</div>
        
        <div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/tag.jpg')}}"/></center>
                <h4><center>Shopping</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput1" value="50" onchange="rangevalue1.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue1">50</output>
                </div></center>
            </div>
		</div>
        
        <div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/magic_wand.jpg')}}"/></center>
                <h4><center>Nightlife</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput2" value="50" onchange="rangevalue2.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue2">50</output>
                </div></center>
            </div>
		</div>
        
        <div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/users.jpg')}}"/></center>
                <h4><center>Active Life</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput3" value="50" onchange="rangevalue3.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue3">50</output>
                </div></center>
            </div>
		</div>
    
        
        <div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/edit.jpg')}}"/></center>
                <h4><center>Education</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput4" value="50" onchange="rangevalue4.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue4">50</output>
                </div></center>
            </div>
		</div>
        
        <div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/coffee.jpg')}}"/></center>
                <h4><center>Restaurants</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput5" value="50" onchange="rangevalue5.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue5">50</output>
                </div></center>
            </div>
		</div>
        
        <div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/film.jpg')}}"/></center>
                <h4><center>Arts &amp; Entertainment</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput6" value="50" onchange="rangevalue6.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue6">50</output>
                </div></center>
            </div>
		</div>
	
        <div class="eight columns">
            <div class="three columns alpha">
                <center><img src="{{static_url('images/scissor.jpg')}}"/></center>
                <h4><center>Beauty &amp; Spas</center></h4>
            </div>
            <div class="five columns omega">
                <center><div id="slider">
                    <input class="bar" type="range" id="rangeinput7" value="50" onchange="rangevalue7.value=value"/>
                    <span class="highlight"></span>
                    <output id="rangevalue7">50</output>
                </div></center>
            </div>
		</div>


	</div><!-- container -->
    

<!-- End Document
================================================== -->
</body>
</html>
